doctype html
html
	head
	meta(charset = 'utf-8')
	meta(name='viewport', content="initial-scale=1.0, width=device-width")
	link(href='css/normalize.css' type='text/css' rel='stylesheet')
	link(href='css/bootstrap/bootstrap.min.css' type='text/css' rel='stylesheet')
	link(href='css/swiper/swiper.min.css' type='text/css' rel='stylesheet')
	link(href='css/style.css' type='text/css' rel='stylesheet')
	script(src='js/jquery/jquery-3.4.1.min.js')
	script(src='js/bootstrap/bootstrap.min.js')
	script(src='js/swiper/swiper.min.js')
	script(src='js/script.js')
	include mixin.pug
	title Арт-карта
	body
		header
			.container-fluid
				.container
					.header-wrapper
						.header-main
							.header-main-logo
								+link-with-img ('/', '', 'images/img_logo.png', '285', '55', 'Банк Таврический')
							h1 Арт-карта
							.header-main-contacts
								+link('tel:8 (800) 775 5712', 'tel-link', '8 (800) 775 5712')
								.lk-wrapper
									span Личный кабинет:&nbsp;
									+link('/', 'lk-link', 'Войти')

						nav
							ul.header-nav
								+list-item('О карте', 'javascript:void(0);')
								+list-item('Искусство', 'javascript:void(0);')
								+list-item('Активити', 'javascript:void(0);')
								+list-item('Программы и условия', 'javascript:void(0);')
								+list-item('Заказать карту', 'javascript:void(0);')
		main
			.container-fluid
				.container
					.main-slider
						.swiper-container(class='main-swiper')
							.swiper-wrapper
								.swiper-slide
									img(src='images/img_slider-1.jpg', width='1366', height='640', alt='')
								.swiper-slide
									img(src='images/img_slider-2.jpg', width='1366', height='640', alt='')

					.main-about-wrapper
						h2 Art Card
						.main-about
							.main-about-img
								img(src='images/img_card.jpg', width='412', height='260', alt='Арт Карта')
							.main-about-desc
								p.title
									span.big 5%
									|  cash back на все
								p.main-idea
									| Потрать на билеты  <br>в театры и музеи
								p.desc
									| К программе подключено более 50 музеев, 100 театров
								.btn-wrapper
									+link('javascript:void(0);', 'order-link btn', 'Заказать карту')
					.main-advantages-wrapper
						.main-advantages-heading
							h2 Искусство в твоей карте
							.headline Программы и условия по карте
						.main-advantages
							.main-advantages-items
								.main-advantages-item
									.img-wrapper
										img(src='images/img_advantage_1.png', width='211', height='195', alt='')
									.desc-wrapper
										p Возможность заказать  карту на сайте

								.main-advantages-item
									.img-wrapper
										img(src='images/img_advantage_2.png', width='211', height='195', alt='')
									.desc-wrapper
										p Бесплатная доставка

								.main-advantages-item
									.img-wrapper
										img(src='images/img_advantage_3.png', width='211', height='195', alt='')
									.desc-wrapper
										p Пополнение с карт других  банков без комиссии
							ul.main-advantages-list
								li
									p
										span.big 5%
										| &nbsp; cash back баллами на все операции оплаты
								li
									p
										span.big 5%
										| &nbsp; баллов на остаток
								li
									p
										span.big 0
										| &nbsp; бесплатное обслуживание
					.main-mobile-wrapper
						.main-mobile
							.img-wrapper
								img(src='images/img_mobile.png', width='293', height='527', alt='')
							.desc-wrapper
								.main-mobile-heading
									h2 Арт-коньсьерж
									.headline Искусство  <br>в твоём смартфоне  и мессенджере
								.desc
									p Подписка на экспертные обзоры выставок и  театральных премьер

					.main-details-wrapper
						.main-details
							.main-details-img
								img(src='images/img_details-bg.jpg', width='1366', height='686', alt='')
							.main-details-desc
								.main-details-heading
									h2 Подробнее о карте и условиях
									.headline Программы и условия по карте
								.main-details-tabs-wrapper
									.main-details-tabs
										.tab-link(class='current' data-tab='tab-1')
											span О карте
										.tab-link(data-tab='tab-2')
											span Тарифы
										.tab-link(data-tab='tab-3')
											span Документация
										.tab-link(data-tab='tab-4')
											span Полезная информация
									.main-details-content
										#tab-1(class='tab-content about current')
											.tab-content-wrapper
												.tab-content-item
													p.title
														| Платежная система
													p.desc
														| Mastercard
												.tab-content-item
													p.title
														| Стоимость годового обслуживания
													p.desc
														| 3000 руб.
												.tab-content-item
													p.title
														| Условия бесплатного обслуживания карты
													p.desc
														| Остатки на карте более 50 000 руб.
												.tab-content-item
													p.title
														| Стоимость СМС информирования
													p.desc
														| 59 руб./месяц
												.tab-content-item
													p.title
														| Проценты на остаток собственных средств
													p.desc
														| 5% баллами, при остатке по карте не менее 5000 руб.
												.tab-content-item
													p.title
														| Поощерение за использование карты
													p.desc
														| 5% cash-back баллами на все операции оплаты, кроме вывода средств.
														| Начисление производится при остатках по карте не менее 5000 руб.
												.tab-content-item
													p.title
														| Ограничение на получение вознаграждения
													p.desc
														| Использование на возврат средств по операциям оплаты билетов в музеи и театры.
														| Но не более 2 млн. руб. в год по всем картам банка.
										#tab-2(class='tab-content')
											.tab-content-wrapper
												.tab-content-item
													p.title
														| Стоимость СМС информирования
													p.desc
														| 59 руб./месяц
												.tab-content-item
													p.title
														| Проценты на остаток собственных средств
													p.desc
														| 5% баллами, при остатке по карте не менее 5000 руб.
												.tab-content-item
													p.title
														| Поощерение за использование карты
													p.desc
														| 5% cash-back баллами на все операции оплаты, кроме вывода средств.
														| Начисление производится при остатках по карте не менее 5000 руб.
												.tab-content-item
													p.title
														| Ограничение на получение вознаграждения
													p.desc
														| Использование на возврат средств по операциям оплаты билетов в музеи и театры.
														| Но не более 2 млн. руб. в год по всем картам банка.
										#tab-3(class='tab-content')
											.tab-content-wrapper
												.tab-content-item
													p.title
														| Поощерение за использование карты
													p.desc
														| 5% cash-back баллами на все операции оплаты, кроме вывода средств.
														| Начисление производится при остатках по карте не менее 5000 руб.
												.tab-content-item
													p.title
														| Ограничение на получение вознаграждения
													p.desc
														| Использование на возврат средств по операциям оплаты билетов в музеи и театры.
														| Но не более 2 млн. руб. в год по всем картам банка.
										#tab-4(class='tab-content')
											.tab-content-wrapper
												.tab-content-item
													p.title
														| Ограничение на получение вознаграждения
													p.desc
														| Использование на возврат средств по операциям оплаты билетов в музеи и театры.
														| Но не более 2 млн. руб. в год по всем картам банка.
					.main-order-wrapper
						.main-order-heading
							h2 Получить карту
							.headline Закажите карту, не выходя из дома
						.main-order
							.img-desc-wrapper
								.img-wrapper
									img(src='images/img_card.jpg', width='412', height='260', alt='Арт Карта')
								.desc-wrapper
									p.attention
										span.big 5%
										|  cash back на все
									p.desc
										| Потрать на билеты  <br>в театры и музеи
							.main-order-form-wrapper
		footer
			.container-fluid
				.container
					.footer-wrapper
						.footer-main
							.footer-main-item.about
								.footer-main-logo
									+link-with-img ('/', '', 'images/img_logo-sm.png', '183', '35', 'Банк Таврический')
								p.footer-main-license Таврический Банк (АО), Санкт-Петербург <br>Универсальная лицензия ЦБ РФ <br>№ 2304 от 27.06.2019 г.
								.footer-tel-wrapper
									.footer-tel-link
										.title Бесплатный звонок по России
										+link('tel:8 (800) 775 5712', 'tel-link', '8 (800) 775 5712')
									.footer-tel-link
										.title Телефон в Санкт-Петербурге
										+link('tel:8 (812) 329-55-12', 'tel-link', '8 (812) 329-55-12')
							.footer-main-item.applications
								.footer-main-item-title Скачать приложение
								.footer-main-applications
									+link-with-img ('/', 'footer-main-application-link', 'images/ico_app-google.png', '164', '48', 'Банк Таврический - Google')
									+link-with-img ('/', 'footer-main-application-link', 'images/ico_app-apple.png', '164', '48', 'Банк Таврический - AppStore')
							.footer-main-item.about.social
								.footer-main-item-title Узнать больше
								.footer-main-social
									+link-with-img ('/', 'footer-main-social-link', 'images/ico_social-vk.png', '46', '46', 'Банк Таврический - Vkontakte')
									+link-with-img ('/', 'footer-main-social-link', 'images/ico_social-f.png', '46', '46', 'Банк Таврический - Facebook')
						.footer-copyright
							p © 2018 Таврический Банк (АО). Использование материалов запрещено без письменного одобрения администрации сайта
