doctype html
html
	head
	meta(charset = 'utf-8')
	meta(name='viewport', content="initial-scale=1.0, width=device-width")
	link(href='css/normalize.css' type='text/css' rel='stylesheet')
	link(href='css/bootstrap/bootstrap.min.css' type='text/css' rel='stylesheet')
	link(href='css/style.css' type='text/css' rel='stylesheet')
	script(src='js/bootstrap/bootstrap.min.js')
	script(src='js/script.js')
	include mixin.pug
	title Artdesi
	body
		h1 tes
		+user_avatar('', '#', 'Daniel')