//Colors
$color_black-pale: #272525;
$color_black-rich: #222221;
$color_black:      #000000;
$color_black-bg:   #140e0b;
$color_white:      #ffffff;
$color_grey:       #a7a7a7;

//Fonts
$font_segoe-bold:      "SegoeUI-Bold";
$font_segoe-semibold:  "SegoeUI-SemiBold";
$font_segoe-regular:   "SegoeUI-Regular";
$font_proxima-bold:    "ProximaNova-Bold";
$font_proxima-regular: "ProximaNova-Regular";
$font_futura-regular:  "FuturaFuturisC-Regular";
$font_futura-light:    "FuturaFuturis-Light";

//Blocks
$max-content:         985px;
$max-field:           320px;

//Animation
$transition:          .2s ease-in-out;